<div class="card mt-5">
    <div class="card-body">
        <h1 class="mb-4">
            Realizar login
        </h1>
        <form action="/auth/service/login" method="post">
            <input type="email" name="email" id="email" class="form-control mb-2" placeholder="E-mail">
            <input type="password" name="password" id="password" class="form-control" placeholder="Senha">
            <button type="submit" class="btn btn-success mt-3">
                Logar
            </button>
        </form>
    </div>
</div>